.movie{
  width: 266px;
  position: relative;
  @media (max-width: 1500px) {
    width: 208px;
  }
  & img{
  height: 357px;
  width: 266px;
  border-radius: 20px;
  object-fit: fill;
  cursor: pointer;
    @media (max-width: 1500px) {
      width: 208px;
      height: 278px;
    }
  &:hover{
    background-color: rgba(0,0,0,.2);
    }
  }
  &Title{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(#{--text-color-default});
  }
  &Subtitle{
    display: flex;
    gap: 20px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #AFB2B6;
    text-transform: capitalize;
    &Separator::before{
      content: '';
      display: inline-block;
      height: 4px;
      width: 4px;
      border-radius: 50%;
      margin-right: 0.5rem;
      background: #AFB2B6;
      position: relative;
      bottom: 2px;
      right: 5px;
    }
  }
  &Rating{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
  }
  &Favorite {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}