.burger{
    display: none;
    @media (max-width: 957px) {
        display: flex;
        height: 56px;
        padding: 0 21px;
        background: #7B61FF;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.4s;
        position: relative;
        z-index: 1001;
    }
    & img{
        width: 14px;
        height: 12px;
    }
}