@import "../../../App/mixin";

.formSignIn {
	z-index: 10;
	display: grid;
	row-gap: 32px;

	max-width: 574px;
	width: 100%;
	padding: 40px;
	margin: 0 auto;

	background: var(#{--body-background-default});
	border-radius: 10px;

	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
		rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.titleSignIn {
	@include TitleText;
	color: var(#{--text-color-default});
}

.buttonReset {
	padding: 16px;
	border-radius: 10px;
	color: #FFFFFF;
	background-color: #7B61FF;
}

.signUpStyled {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	color: #7B61FF;
}

.noAccountText {
	margin: 0 auto;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	color: #80858B;
}

.buttonSignIn {
	padding: 16px;
	background-color: #7B61FF;
	border-radius: 10px;
	color: #FFFFFF;
	transition: 0.2s;
}

.buttonSignIn:hover {
	background-color: #6f53ff;
}

.forgotPassword {
	margin-top: -20px;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	color: #80858B;
	cursor: pointer;
}

@media (max-width:320px) {
	.titleSignIn {
		font-size: 20px;
	}
}