.swiperWrapper {
  display: flex;
  flex-direction: row;
  max-width: 1180px;
  width: 100%;
  overflow: hidden;
  @media (max-width: 1477px) {
    max-width: 500px;
  }
  @media (max-width: 847px) {
    max-width: 553px;
  }
  @media (max-width: 597px) {
    max-width: 266px;
    margin: auto;
  }
  :global(.swiper-wrapper) {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1184px;
    width: 100%;
  }
  :global(.swiper-slide) {
    width: 208px!important;
  }
}
.slider{
  &Description {
    min-width: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 0 40px;
  }
  &Title {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(#{--text-color-default});
  }
  &Buttons {
    display: flex;
    gap: 20px;
  }
}