.header{
    position: sticky;
    z-index: 1000;
    top: 0;
    background: #000000;
    margin: 20px 0 36px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    @media (max-width: 587px) {
        justify-content: space-between;
    }
    & a{
        @media (max-width: 587px) {
            margin-right: 40px;
        }
    }
    &Error{
        position: absolute;
        top: 16px;
        left: 50%;
        color: red;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}
.headerOpen{
    position: sticky;
    z-index: 1000;
    top: 0;
    background: #000000;
    margin: 20px 0 36px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    @media (max-width: 587px) {
        justify-content: flex-end;
    }
    & a{
        @media (max-width: 587px) {
            margin-right: 40px;
        }
    }
}