.rating, .ratingImdb {
  max-width: 40px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 2px 8px;
  color: #FFFFFF;
  border-radius: 6px;
}

.rating {
  background-color: #F3A608;
}

.ratingImdb {
  background-color:  #323537;
}

.greenRating {
  background-color: #00A340;
}
.redRating {
  background-color: #F45D2D;
}