@import "../../../App/mixin";

.settingsPageConteiner{
    width: 100%;
    &Content{
        &Profile, &Password, &Theme{
            border: 2px solid #242426;
            background: var(#{--filter-background-default});
            border-radius: 10px;
            padding: 40px;
            margin-bottom: 40px;
            max-width: 1186px;
            width: 100%;
            @media (max-width: 577px) {
                padding: 20px;
            }
        }
        &Profile{
            display: flex;
            justify-content: space-between;
            gap: 40px;
            @media (max-width: 577px) {
                flex-direction: column;
            }
        }
        &Password{
            display: flex;
            justify-content: space-between;
            gap: 40px;
            @media (max-width: 577px) {
                flex-direction: column;
            }
            &Left{
                display: flex;
                flex-direction: column;
                gap: 24px;
                width: 100%;
            }
        }
        &Theme{
            display: flex;
            justify-content: space-between;
            padding: 24px 40px;
            &Text{
                &Title{
                    @include DescriptionText;
                    color: var(#{--text-color-default});
                    font-weight: 700;
                }
                &SubTitle{
                    @include DescriptionText;
                    color: #AFB2B6;
                }
            }
        }
    }
    &Btns{
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        max-width: 1186px;
        @media (max-width: 617px) {
            flex-direction: column;
            align-items: center;
        }
        &L{
            @include CancelButton;
            width: 266px;
        }
        &R{
            @include SubmitButton;
            width: 266px;
        }
    }
}
.title{
    @include TitleText;
    margin-bottom: 16px;
    color: var(#{--text-color-default});
}