.movie{
  &TopBlock {
    display: flex;
    gap: 42px;
    @media (max-width: 667px) {
      flex-direction: column;
  }
  }
  &LeftSide {
    display: flex;
    flex-direction: column;
    max-width: 266px;
    @media (max-width: 1500px) {
      max-width: 208px;
    }
    & img {
      width: 266px;
      height: 356px;
      border-radius: 20px;
      @media (max-width: 1500px) {
        width: 208px;
        height: 279px;
      }
    }
  }
  &ActionButtons {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 32px;
  }
  &RightSide {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &Markers {
    display: flex;
    gap: 20px;
    padding-top: 24px;
  }
  &Title {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: var(#{--text-color-default});
    @media (max-width: 1500px) {
      font-size: 32px;
      line-height: 48px;
    }
  }
  &Subtitle {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    color: #AFB2B6;
  }
  &Runtime {
    max-width: 80px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 2px 8px;
    color: #FFFFFF;
    border-radius: 6px;
    background-color:  #323537;
  }
  &Description {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: var(#{--text-color-default});
    padding-top: 40px;
    max-width: 75%;
  }
  &Elements {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &Element {
    display: flex;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(#{--text-color-default});
    &Title {
      color: #AFB2B6;
      min-width: 180px;
    }
    &Value {
      white-space: pre-wrap;
      p {
        display: inline;
        margin: 0;
        font-weight: 500;
        line-height: 24px;
        &:not(:last-child):after {
          content: ", ";
          margin-right: 4px;
        }
      }
    }
  }
  &Slider {
    min-width: 0;
    padding: 56px 0 0;
  }
}