
.movie{
  &TopBlock {
    display: flex;
    gap: 42px;
    @media (max-width: 667px) {
      flex-direction: column;
  }
  }
  &LeftSide {
    display: flex;
    flex-direction: column;
    max-width: 266px;
    & img {
      width: 266px;
      height: 356px;
      border-radius: 20px;
    }
  }
  &RightSide {
    display: flex;
    flex-direction: column;
  }
  &Markers {
    display: flex;
    gap: 20px;
    padding-top: 24px;
  }
  &Title {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: var(#{--text-color-default});
  }
  &Runtime {
    max-width: 80px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 2px 8px;
    color: #FFFFFF;
    border-radius: 6px;
    background-color:  #323537;
  }
  &Description {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: var(#{--text-color-default});
    padding-top: 40px;
    max-width: 500px;
  }
  &Elements {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &Element {
    display: flex;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(#{--text-color-default});
    &Title {
      color: #AFB2B6;
      min-width: 180px;
    }
  }
}