.wrapper {
    max-width: 1828px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
}
.conteiner{
    width: 100%;
    @media (max-width: 487px) {
        overflow-x: hidden;
    }
}
.content{
    display: flex;
    gap: 148px;
    margin-bottom: 64px;
    & nav{
        max-width: 160px;
        width: 100%;
        @media (max-width: 957px) {
            display: none;
        }
    }
    & main{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        @media (max-width: 957px) {
            justify-content: center;
        }
    }
}
