@import "../../App/mixin";

.wrapper {
    max-width: 1828px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
.conteiner{
    width: 100%;
    @media (max-width: 487px) {
        overflow-x: hidden;
    }
    &FooterText{
        @include DescriptionText;
        color: #AFB2B6;
        padding: 20px 0px;
    }
}
.conteinerActive{
    width: 100%;
    position: fixed;
    @media (max-width: 487px) {
        overflow-x: hidden;
    }
    &FooterText{
        @include DescriptionText;
        color: #AFB2B6;
        padding: 20px;
    }
}
.content{
    display: flex;
    gap: 148px;
    margin-bottom: 64px;
    @media (max-width: 1207px) {
        gap: 0px;
    }
    & nav{
        max-width: 160px;
        width: 100%;
        @media (max-width: 957px) {
            display: none;
        }
    }
    & main{
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px;
        width: 100%;
        @media (max-width: 957px) {
            justify-content: center;
        }
    }
}
