@import "../../../../App/mixin";

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    height: 100%;
    background: var(#{--body-background-default});
    &Content{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    & p{
        @include DescriptionText;
        color: #80858B;
        text-align: center;
    }
}