@mixin DescriptionText {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

@mixin TitleText {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

@mixin CancelButton {
    border-radius: 10px;
    @include DescriptionText;
    font-weight: 600;
    color: #FFFFFF;
    width: 100%;
    height: 56px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    background: var(#{--sortBtn-background-default});
    &:hover{
        border: none;
        outline: none;
        transition: 0.3s;
        color: #AFB2B6;
    }
}

@mixin SubmitButton {
    border-radius: 10px;
    @include DescriptionText;
    font-weight: 600;
    color: #FFFFFF;
    width: 100%;
    height: 56px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    background: #7B61FF;
    &:hover{
        border: none;
        outline: none;
        transition: 0.3s;
        background: #917CFF;
    }
}