@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    background: var(#{--body-background-default});
}

$body-background-dark: #000000; 
$body-background-light: #FFFFFF; 

$filter-background-dark: #242426; 
$filter-background-light: #ffffff; 

$sortBtn-background-dark: #323537; 
$sortBtn-background-light: #AFB2B6; 

$search-background-dark: #323537; 
$search-background-light: #FFFFFF; 

$text-color-dark: #FFFFFF; 
$text-color-light: #242426; 

:root {
    --body-background-dark: #{$body-background-dark}; 
    --body-background-light: #{$body-background-light};
    --body-background-default: var(#{--body-background-dark});
    
    --filter-background-dark: #{$filter-background-dark}; 
    --filter-background-light: #{$filter-background-light};
    --filter-background-default: var(#{--filter-background-dark});
    
    --sortBtn-background-dark: #{$sortBtn-background-dark}; 
    --sortBtn-background-light: #{$sortBtn-background-light};
    --sortBtn-background-default: var(#{--sortBtn-background-dark}); 

    --search-background-dark: #{$search-background-dark}; 
    --search-background-light: #{$search-background-light};
    --search-background-default: var(#{--search-background-dark});  

    --text-color-dark: #{$text-color-dark}; 
    --text-color-light: #{$text-color-light}; 
    --text-color-default: var(#{--text-color-dark});  
}