@import "../../../../../App/mixin";

.search{
    position: relative;
    margin: 0 41px 0 146px;
    max-width: 1184px;
    min-width: 272px;
    width: 100%;
    transition: 0.3s;
    @media (max-width: 1207px) {
        margin: 0 21px 0 21px;
        transition: 0.3s;
    }
    @media (max-width: 587px) {
        order: 3;
        margin: 32px 0 40px;
    }
    & input{
        border: 2px solid #323537;
        background: var(#{--search-background-default});
        border-radius: 10px;
        width: 100%;
        height: 56px;
        padding: 16px 20px;
        outline: none;
        transition: 0.3s;
        @include DescriptionText;
        color: var(#{--text-color-default});
        &::placeholder{
            @include DescriptionText;
            color: #80858B;
        }
        &:focus{
            border: 2px solid #7B61FF;
            outline: none;
            transition: 0.3s;
        }
    }
    & img{
        position: absolute;
        top: calc(50% - 7px);
        right: 21px;
        cursor: pointer;
    }
}